<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Releasify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5105029E1D10A0C40079C5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>510502B41D10A6700079C5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D776BA1B2B653700D252A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51F84DC41AB750A000D51E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51F84DD91AB750A100D51E0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
